<ul id="refs" class="references csl-bib-body hanging-indent" role="doc-bibliography">
{%- for ref in references -%}
    <li id="ref-{{ ref[0] }}" class="csl-entry" role="doc-biblioentry">
        {{- ref[1] -}}
    </li>
{%- endfor -%}
</ul>
